body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.btn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  max-width: 135px;
  text-align:center;
  display: inline-block;
  padding-right:50px;
 
  
}

.btn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
} 

.form-group{
  margin-top: 10px;
 height: 95px;
 
  

}
.form-group2{
  margin-right: 25px;
}

.form-control{
  background-color: #77dd77;
  padding-left:20px;
  text-align: left;
  font-weight: bold;

  
}
.form-control:focus {
  background-image: linear-gradient(90deg, silver 50%, transparent 50%), linear-gradient(90deg, silver 50%, transparent 50%), linear-gradient(0deg, silver 50%, transparent 50%), linear-gradient(0deg, silver 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
  background-position: left top, right bottom, left bottom, right   top;
  animation: border-dance 250ms infinite linear;
}

.label{
  margin-top: -15px;
  text-align: right;
  margin-right: -15px;
  padding-right:25px;
  
  
  
}
@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right   top;
  }
  100% {
    background-position: left 15px top, right 15px bottom , left bottom 15px , right   top 15px;
  }
}


.container{
  min-width:100%;
  margin-bottom: 30px;
  
}

hr {
  border: 1px dashed #161616;
  border-style: none none dashed; 
  color: #fff; 
  background-color: #fff;
}



